.ant-row {
  flex-flow: nowrap;
  height: 90px;
  background-color:rgba(78, 174, 253, 0.2);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.nav-search{
    /* background: #E9F5FE; */
    position: 'relative';
    background: transparent;
    display: 'flex';
    justify-content: center;
    line-height: 7;
}

/* .drop-down{
    background: #E9F5FE;
} */

.app-logo{
    color: #353535;
    float: center;
    font-size: large;
    
}

.user-icon{
    float: right;
}


.ant-menu-horizontal{
  border-bottom: 0px;
}

.header-bar{
  background: #E9F5FE;
  height: 100px;
}


.logo2{
  width:5em;
  margin: 1em 0;
}