.searchResult-container {
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 5px;
}

.container {
  padding: 1em;
  text-align: left;
}
.container img{
  width: 100%;
}

.main {
    display: flex;
}

.left-side {
    padding-top: 10px;
    width: 50%;
}


.filterContainer {
    width: 100% !important;
    margin:1em 0;
}

.tableContainer {
  max-width: 100%;
}

.ant-pagination-next,
.ant-pagination-prev{
  line-height: 1;
} 

.recommend-div{
    height: 50px;
    font-size: 1em;
    padding:1em;
    font-weight: bold;
    background-color: #4188E8;
    width: 100%;
    color: #fff;
    margin-top:1em;
    border-radius: 10px;
}

.backwardButton{
  background-color: #4188E8;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  float: left;
  padding: .3em 1em;
  width: 13em;
  margin-left: .5em;
}

.ant-modal-body{
    padding-left: 30px;
    padding-top: 12px;
}

.ant-typography{
    margin-left: 4px;
    margin-right: 4px;
    color:#FFD700;
}

.search-route {
    float: right;
    margin-right: 15px;
    color: #fff;
    min-width: 75px !important;
    min-height: 75px !important;
}

button.search-route{
    background: transparent;
    background-color:#4188E8;
    
}

button.ant-btn-lg{
    width: 75px !important;
    height: 75px !important;
}

.travelScheduleContainer {
    font-size: 14px;
    min-width: 580px;
}

.tabsContainer {
    padding: 10px;
    margin-left: 10px;
}

.filterBtn{
  height:2.5em;
  border-radius: 10px;
  text-align: left;
}

.filterInput{
  height:2.5em;
  background: none !important;
}

.signupLink span{
  margin-left: .5em;
  font-weight: 700;
}

.jsj button{
  margin: .5em 0;
  margin-left:.6em;
  width: 8em;
}

.ant-modal-title{
  margin-left: 1em;
  margin-top: 0.5em;
}






