.searchResult-container {
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 5px;
}

.main {
    display: flex;
}

.left-side {
    padding-top: 10px;
}

.left-side img {
    margin-left: 5px;
}

.filterContainer {
    padding:10px;
    margin-left: 10px;
    width: 800px !important;
}

.tableContainer {
    padding-left:20px;
    max-width: 800px;
}

.right-side {
    margin-left: 10px;
}

.search-route {
    float: right;
    margin-right: 15px;
    color: #fff;
    min-width: 75px !important;
    min-height: 75px !important;
}

button.search-route{
    background: transparent;
    background-color:#4188E8;
    
}

button.ant-btn-lg{
    width: 75px !important;
    height: 75px !important;
}



