.App {
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 5px;
  }

.home-header{
  padding: 1em 2em;
  background: #fff;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .9;
}

.app-logo{
  width: 5em; 
}


.user-icon{
  width: 2.5em;
  margin-left: 1em;
}

.id-class{
  text-align: right;  
}


.home-body{
  height: 100vh;
  background-image: url("../src/assets/images/home_pic.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
}

.home-detail{
  height: 100%;
}


.home-search_bar{
  width: 100% !important;
  height: 4em;
  border-radius: 10px;
}


.bg-title{
  padding-left: 1px;
  font-size: 3em;
  font-weight: bold;
}


.home-detail-child{
  margin-top: 20%;
}

.ant-input-suffix{
  width: 5em;
  background: #285FC2;
  margin-right: .3em;
  border-radius: 10px;
}

.ant-input-search-icon{
  width: 100%;
  margin-left: 0em;
  color: #fff;
}

.ant-input-search-icon::before{
  display: none;
}